
table{
  width: 100%;
}
.byc-tbl-headding{
  color: #1C3A5F;
  font-size: 15px;
  font-family:Ubuntu;
  background-color: #E9F0F4;
}
table tr:nth-child(even){
  background-color: #E9F0F4;
}
td{
  color:#292B2B;
  opacity: 100%;
  font-size: 14px;
  font-family: Ubuntu;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 16px;
  border-bottom-style: none;
}
.map{
margin: 0px 0px 15px 0px;
border: 1px solid #CEDAE4;
}
.mat-elevation-z8 {
  box-shadow: none;
}